/* hotel card */
.hotel-card {
  border: none !important;
}
.hotel-card .card-img-top {
  border-radius: 0px;
  height: 230px;
}

.hotel-card .card-body {
  padding: 0px !important;
}

.hotel-card .card-body h5 {
  margin: 0.5rem 0;
}

.hotel-card .card-body h5 a {
  color: #777;
}

.hotel-card .card-body p {
  font-size: 0.9rem;
}
/* end of hotel cards */
